body {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 80px;
    font-family: Roboto, Verdana, sans-serif;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 120px;
    background-color: red;
}

#main-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
}

#controls,
#right-edge {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: red;
}

#eas-container {
    flex: 8;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 120px;
    font-size: 0.75rem;
    background-color: red;
}

.knob {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    margin: 10px;
}