body {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Roboto, Verdana, sans-serif;
}

#eraser {
    background-color: white;
    padding: 10px 30px;
    margin: 20px 0px;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 120px;
    background-color: red;
    color: white;
    height: 10vh;
}


#controls {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    text-align: center;
    background-color: red;
    color: white;
}

.ctrl-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 200;
    gap: 20px;
}

.btn {
    background-color: white;
    padding: 10px 20px;
    font-size: 30px;
}

#eas-container {
    display: flex;
    place-content: center;
    background-color: red;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding: 0 120px;
    font-size: 0.75rem;
    height: 4vh;
}